<h1>hello</h1>
<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th>Task_id</th>
    <th>Level</th>
  </tr>
  <% @question.each do |question| %>
  <tr>
    <td><%= question.question %></td>
    <td><%= question.answer %></td>
    <td><%= question.task_id %></td>
    <td><%= question.level %></td>
  </tr>
  <% end %>
</table>

