<h1>hello</h1>
Sorry, but I don't have enough time to do history.
<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th>Task_id</th>
    <th>Level</th>
  </tr>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.question %></td>
      <td><%= quiz.task_id %></td>
      <td><%= quiz.level %></td>
      <td><%= quiz.answer %></td>
    </tr>
  <% end %>
</table>
