<h1>hello</h1>
<table>
  <tr>
    <td><h2>Question</h2></td>
    <td><h2>Answer</h2></td>

  </tr>
      <% @elements.each do |elem| %>
          <tr>
            <td><%= elem.question %></td>
            <td><%= elem.answer %></td>

         </tr>
     <% end %>
</table>


